body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
}
.tmave {
    background-color: #222;
    color: white;
}
header img {
    width: 100px;
}