/*všechny html elementy*/
*{
    font-family: sans-serif;
    box-sizing: border-box;
    background-color:rgb(235, 235, 235);
}
body{
    text-align: center;
}
#logo{
    margin: -20px auto;
    height: 100px;
}
#cookie{
    width: 300px;
    height: 350px;
}

/*odkaz zpět na první stránku*/
a{
    border: solid 1px black;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
/*postranní panely*/
.levy-panel,
.pravy-panel {
    width: 275px;
    height: 60vh;
    overflow-y: scroll;
}




