*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 72px;
}
#logo{
    width: 300px;
}
main{
    display: flex;
    width: 100%;
}
section{
    width: 50%;
    text-align: center;
}
h2{
    font-size: 32px;
}